<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpRuntime enable="true" enableVersionHeader="false" maxQueryStringLength="8000" maxUrlLength="8192" />
    <customErrors mode="RemoteOnly" />
    <sessionState mode="Off"/>
    <authentication mode="None"/>
    <globalization culture="en-US"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="32"/>
    </connectionManagement>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler
          language="c#;cs;csharp"
          extension=".cs"
          compilerOptions="/unsafe"
          type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </compilers>
  </system.codedom>
</configuration>