<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpRuntime enable="true" enableVersionHeader="false" maxQueryStringLength="8000" maxUrlLength="8192" />
    <customErrors mode="RemoteOnly" />
    <sessionState mode="Off"/>
    <authentication mode="None"/>
    <globalization culture="en-US"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="32"/>
    </connectionManagement>
  </system.net>
</configuration>