<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpRuntime enableVersionHeader="false"/>
    <sessionState mode="Off"/>
    <authentication mode="None"/>
    <globalization culture="en-US"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>